<div class="main-form-and-list-wrap">
  <form nz-form [formGroup]="validateForm" class="search-form">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="companySearch">商户名称</nz-form-label>
          <nz-form-control>
            <input formControlName="companySearch" nz-input placeholder="名称/联系人/手机" id="companySearch">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="companyAreaId">所属区域</nz-form-label>
          <nz-form-control>
            <nz-cascader  nzChangeOnSelect formControlName="companyAreaId" id="companyAreaId" nzPlaceHolder="选择区域"
              [nzLoadData]="loadAreaDataHandler"
              (ngModelChange)="areaChanges($event)">
            </nz-cascader>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="unifiedSocialCreditcode">信用代码</nz-form-label>
          <nz-form-control>
            <input formControlName="unifiedSocialCreditcode" nz-input id="unifiedSocialCreditcode">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="businessLicenseNo">许可证号</nz-form-label>
          <nz-form-control>
            <input formControlName="businessLicenseNo" nz-input id="businessLicenseNo">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="businessLicenseState">许可证状态</nz-form-label>
          <nz-form-control>
            <nz-select id="businessLicenseState" formControlName="businessLicenseState">
              <nz-option *ngFor="let option of businessLicenseStates" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="companyState">商户状态</nz-form-label>
          <nz-form-control>
            <nz-select id="companyState" formControlName="companyState">
              <nz-option nzValue="0" nzLabel="全部商户"></nz-option>
              <nz-option nzValue="1" nzLabel="在用"></nz-option>
              <nz-option nzValue="2" nzLabel="停用"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="businessScope">经营范围</nz-form-label>
          <nz-form-control>
            <nz-select id="businessScope" formControlName="businessScope">
              <nz-option nzValue="0" nzLabel="全部商户"></nz-option>
              <nz-option nzValue="1" nzLabel="农药"></nz-option>
              <nz-option nzValue="2" nzLabel="农药（限制药品除外）"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <button nz-button type="button" nzType="default" class="mr10" (click)="resetForm()">清空</button>
        <button nz-button type="button" nzType="primary" (click)="submitForm()">搜索</button>
      </div>
    </div>
  </form>

  <div class="content-container">
    <nz-table  #tableData nzBordered  nzSize="middle" [nzData]="tableDataSet" nzShowSizeChanger
               [nzFrontPagination]="false"
               [nzLoading]="loading"
               [nzTotal]="total"
               [(nzPageIndex)]="pageIndex"
               [(nzPageSize)]="pageSize"
               (nzPageIndexChange)="searchData()"
               (nzPageSizeChange)="searchData(true)">
      <thead>
      <tr>
        <th>商户名称</th>
        <th>统一社会信用代码</th>
        <th>经营许可证号</th>
        <th>许可证状态</th>
        <th>所属区域</th>
        <th>联系人</th>
        <th>经营范围</th>
        <th>商户状态</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of tableData.data">
        <td>{{data.companyName}}</td>
        <td>{{data.unifiedSocialCreditcode}}</td>
        <td>{{data.businessLicenseNo }}</td>
        <td>{{data.businessLicenseState | i18nPlural: businessLicenseStateMapping }}</td>
        <td>{{data.companyAreaName}}</td>
        <td>{{data.linkMan1}}</td>
        <td>{{data.businessScope | i18nPlural: businessScopeStateMapping}}</td>
        <td>{{data.isLock | i18nPlural: merchantStatuMapping }}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
