<div class="purchase-data">
  <div class="head-info">
      <span class="mr25 title">
        {{currentMerchantInfo.companyName}}
      </span>
      <span>
        {{(currentMerchantInfo.companyAreaName || '') + (currentMerchantInfo.address || '')}}
      </span>
  </div>
  <form nz-form [formGroup]="validateForm" class="search-form">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="5">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="productName">商品名称</nz-form-label>
          <nz-form-control>
            <input formControlName="productName" nz-input placeholder="名称/规格/首字母/登记证号" id="productName" [(ngModel)]="searchParam.fullname">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="productClass">商品类别</nz-form-label>
          <nz-form-control>
			<nz-select style="width: 200px;" id="productClass" formControlName="productClass">
              <nz-option *ngFor="let option of productClassList" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="5">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="dosage">剂型</nz-form-label>
          <nz-form-control>
			<nz-select style="width: 200px;" id="dosage" formControlName="dosage">
              <nz-option *ngFor="let option of dosageList" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="5">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="toxicity">毒性</nz-form-label>
          <nz-form-control>
            <nz-select style="width: 200px;" id="toxicity" formControlName="toxicity">
              <nz-option *ngFor="let option of toxicitys" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="3">
		<div class="search-btn-group">
			<button nz-button nzType="default" class="mr10" (click)="resetForm()">清空</button>
			<button nz-button nzType="primary" (click)="searchData()">搜索</button>
		</div>
      </div>
    </div>
  </form>
  <div class="content-container">
    <div class="unit-btn-list">
      <nz-button-group>
        <button nz-button nzType="default" [ngClass]="{'selected-btn':currentUnitType === 0}" (click)="setUnitShowType(0)">显示小单位</button>
        <button nz-button nzType="default" [ngClass]="{'selected-btn':currentUnitType === 1}" (click)="setUnitShowType(1)">显示大单位</button>
        <button nz-button nzType="default" [ngClass]="{'selected-btn':currentUnitType === 2}" (click)="setUnitShowType(2)">显示辅助单位</button>
      </nz-button-group>
    </div>
    <nz-table  #tableData nzBordered  nzSize="middle" [nzData]="tableDataSet" nzShowSizeChanger
               [nzFrontPagination]="false"
               [nzLoading]="loading"
               [nzTotal]="total"
               [(nzPageIndex)]="pageIndex"
               [(nzPageSize)]="pageSize"
               (nzPageIndexChange)="searchData()"
               (nzPageSizeChange)="searchData(true)">
      <thead>
      <tr>
        <th style="width: 12%">商品名称</th>
        <th style="width: 9%">登记证号</th>
        <th style="width: 9%">规格</th>
        <th style="width: 9%">品牌</th>
        <th style="width: 9%">生产厂家</th>
        <th style="width: 9%">商品类别</th>
        <th style="width: 8%">剂型</th>
        <th style="width: 9%">毒性</th>
        <th style="width: 9%">单位换算关系</th>
        <th style="width: 9%">进货数量</th>
        <th style="width: 8%">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of tableData.data">
        <td>{{data.fullname}}</td>
        <td>{{data.certificateCode}}</td>
        <td>{{data.specification }}</td>
        <td>{{data.productBrand}}</td>
        <td>{{data.manufacturer}}</td>
        <td>{{data.className}}</td>
        <td>{{data.dosage}}</td>
        <td>{{data.toxicity}}</td>
        <td>{{data.relationDesc}}</td>
        <td>{{(data.productQuantityDOs)?data.productQuantityDOs[currentUnitType].quantityResult:''}}</td>
        <td>
          <a (click)="jumpRouter(data)">交易记录</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
    <div class="go-back">
      <button nz-button nzType="primary"
              (click)="goBack()">返回</button>
    </div>
  </div>
</div>

