<div class="merchant-sale-data">
  <form nz-form [formGroup]="validateForm" class="search-form">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="5">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="productName">商品名称</nz-form-label>
          <nz-form-control>
            <input formControlName="productName" nz-input placeholder="名称/规格/首字母/登记证号" id="productName">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="5">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="productClass">商品类别</nz-form-label>
          <nz-form-control>

          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="5">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="toxicity">剂型</nz-form-label>
          <nz-form-control>

          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="5">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="toxicity">毒性</nz-form-label>
          <nz-form-control>
            <nz-select style="width: 200px;" id="toxicity" formControlName="toxicity">
              <nz-option *ngFor="let option of toxicitys" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="4">
        <button nz-button nzType="default" class="mr10" (click)="resetForm()">清空</button>
        <button nz-button nzType="primary">搜索</button>
      </div>
    </div>
  </form>
  <div class="content-container">
    <nz-table  #tableData nzBordered  nzSize="middle" [nzData]="tableDataSet" nzShowSizeChanger
               [nzFrontPagination]="false"
               [nzLoading]="loading"
               [nzTotal]="total"
               [(nzPageIndex)]="pageIndex"
               [(nzPageSize)]="pageSize"
               (nzPageIndexChange)="searchData()"
               (nzPageSizeChange)="searchData(true)">
      <thead>
      <tr>
        <th>商品名称</th>
        <th>登记证号</th>
        <th>规格</th>
        <th>品牌</th>
        <th>生产厂家</th>
        <th>商品类别</th>
        <th>剂型</th>
        <th>毒性</th>
        <th>单位换算关系</th>
        <th>销售数量</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of tableData.data">
        <td>{{data.companyName}}</td>
        <td>{{data.companyAreaName}}</td>
        <td>{{data.linkMan1 }}</td>
        <td>{{data.linkManTel1}}</td>
        <td>{{data.expireDate}}</td>
        <td>{{data.companyAccountType}}</td>
        <td>
          <a>交易记录</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>

