
/*.pesticide-data{
  .mr10{
    margin-right: 10px;
  }
  .search-form{
    overflow: hidden;
    padding: 20px 20px 0 20px;
    border-bottom: 1px solid #999;
    .ant-select {
      width: 176px !important;
    }
  }
  .content-container{
    overflow: hidden;
    padding: 20px;
  }
}*/

.search-btn-group{
  float: right;
  margin-right: 33px;
}
