<div class="login-bg">
  <div class="left-cloud"></div>
  <div class="right-cloud"></div>
<!--  <div class="qr-code">
    <img style="width: 80px;height: auto" src="../../../assets/img/login/code.png" alt="">
    <div class="m-t-sm text-content">
      扫码下载货氪农资宝APP
    </div>
  </div>-->
  <div class="login-form-content">
    <div class="login-logo">
      <img src="../../../assets/img/login/logo.png" alt="">
    </div>
    <div class="form-title text-center" style="">
      账号登录
    </div>
    <div class="form-body">
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="loginSubmit()">
        <nz-form-item>
          <nz-form-control>
            <nz-form-explain *ngIf="errMsg">{{errMsg}}</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="anticon anticon-user">
              <input type="text" nz-input formControlName="userName" placeholder="用户名或手机号" [(ngModel)]="loginReqData.loginName">
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">请输入您的账号!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="anticon anticon-lock">
              <input type="password" nz-input formControlName="password" placeholder="密码" [(ngModel)]="loginReqData.password">
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">请输入您的密码!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group>
              <input type="text" nz-input formControlName="verifyCode" placeholder="验证码" style="width: 50%" [(ngModel)]="loginReqData.code" spellcheck="false">
              <nz-form-extra (click)="refreshVerify()">
                <img [src]="verifyImgUrl" alt="加载失败"/>
              </nz-form-extra>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <a class="login-form-forgot" class="login-form-forgot">忘记密码</a>
            <a href="">重置</a>
            <button nz-button class="login-form-button" [nzType]="'primary'" type="submit">登录</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
</div>


