<div class="operate-data">
  <form nz-form [formGroup]="validateForm" class="search-form">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="companySearch">商户搜索</nz-form-label>
          <nz-form-control>
            <input formControlName="companySearch" nz-input placeholder="名称/联系人/电话" id="companySearch">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="companyAreaId">所属区域</nz-form-label>
          <nz-form-control>
            <input formControlName="companyAreaId" nz-input id="companyAreaId">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="companyState">商户状态</nz-form-label>
          <nz-form-control>
            <nz-select style="width: 200px;" id="companyState" formControlName="companyState">
              <nz-option nzValue="0" nzLabel="全部商户"></nz-option>
              <nz-option nzValue="1" nzLabel="在用"></nz-option>
              <nz-option nzValue="2" nzLabel="停用"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <button nz-button nzType="default" class="mr10" (click)="resetForm()">清空</button>
        <button nz-button nzType="primary" (click)="submitForm()">搜索</button>
      </div>
    </div>
  </form>

  <div class="content-container">
    <nz-table  #tableData nzBordered  nzSize="middle" [nzData]="tableDataSet" nzShowSizeChanger
               [nzFrontPagination]="false"
               [nzLoading]="loading"
               [nzTotal]="total"
               [(nzPageIndex)]="pageIndex"
               [(nzPageSize)]="pageSize"
               (nzPageIndexChange)="searchData()"
               (nzPageSizeChange)="searchData(true)">
      <thead>
      <tr>
        <th nzWidth="22%">商品名称</th>
        <th nzWidth="13%">所属区域</th>
        <th nzWidth="13%">联系人</th>
        <th nzWidth="13%">手机号</th>
        <th nzWidth="13%">创建时间</th>
        <th nzWidth="13%">商户状态</th>
        <th nzWidth="13%">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of tableData.data">
        <td>{{data.companyName}}</td>
        <td>{{data.companyAreaName}}</td>
        <td>{{data.linkMan1 }}</td>
        <td>{{data.linkManTel1}}</td>
        <td>{{data.expireDate}}</td>
        <td>{{data.companyAccountType  | i18nPlural: merchantStatuMapping }}</td>
        <td>
          <a (click)="jumpRouter(data,'sale')">销售数据</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a routerLink="/heroes">进货数据</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>

