<div class="side-menu-wrap" [ngClass]="{'hide-side-menu':isCollapsed}"
     [ngStyle]="{'width':sideMenu.length===0? '0px': isCollapsed ? '':width}">
  <ul class="side-menu-list">
    <ng-container *ngFor="let item of sideMenu;">
    <li (click)="navigate(item)">
        <a [ngClass]="{'active': selectedItem.indexOf(item.url) !== -1}">
          <i class="{{item.icon}}"></i>
          <span class="leftMenu-name">{{item.name}}</span>
        </a>
      </li>
    </ng-container>
  </ul>
 <!-- <button class="switch-bar-btu" nz-button (click)="toggleCollapsed()" style="padding:0;">
    <i class="anticon" [class.anticon-menu-unfold]="isCollapsed" [class.anticon-menu-fold]="!isCollapsed" ></i>
  </button>-->
</div>

<div class="side-nav clearfix" *ngIf="isNeedSideNavShow && selectedMenu">
  <ul class="side-menu">
    <li *ngFor="let menu of selectedMenu.children">
      <a>
        {{menu.name}}
      </a>
      <ul  class="menu-item">
        <li *ngFor="let item of menu.children">
          <a (click)="navigate(item)" [ngClass]="{'active': selectedItem.indexOf(item.url) !== -1}">
            <i ng-class="{true:'icon-slide-nav thrid-nav-l',false:'icon-slide-nav thrid-nav'}[$last]"></i>
            {{item.name}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="switch-nav pull-left" title="点击隐藏边栏" (click)="hideSideNav()">
    <i class="anticon anticon-left-circle-o"></i>&nbsp;收起
  </div>
</div>




