<div class="work-board">
  <div class="main pull-left">
    <div class="group">
      <div class="group-title">
        <i class="dp dp-line-wide title-icon"></i> <span class="title">快捷操作</span>
      </div>
      <div class="group-operate">
        <ul>
          <li>
            <a routerLink ="/main/dataStatistics/operatingData">
              <div>
                <img src="../../../../assets/img/workboard/biz-data-link.svg" alt="">
              </div>
              <div class="label-content">商户经营数据</div>
            </a>
          </li>
          <li>
          <a routerLink ="/main/dataStatistics/pesticideQuery">
            <div>
              <img src="../../../../assets/img/workboard/query-pesticide-link.svg" alt="">
            </div>
            <div>
              农药查询
            </div>
          </a>
        </li>
          <li>
            <a>
              <div>
                <img src="../../../../assets/img/workboard/more-operate.svg" alt="">
              </div>
              <div>
                更多
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="side pull-right">
    <div class="group">
      <div class="group-title">
        <span class="title">系统公告</span>
      </div>
      <div class="group-notice no-data-bg">
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="group m-t">
    <div class="group-title">
      <i class="dp dp-line-wide title-icon"></i> <span class="title">商品交易统计</span>
    </div>
    <div style="height: 155px;" class="no-data-bg">

    </div>
  </div>
</div>
