<nz-tabset nzType="card" [(nzSelectedIndex)]="tabPageIndex" (nzSelectedIndexChange)="tabChange($event)" [nzTabBarExtraContent]="navBreakcrumb">
  <nz-tab nzTitle="企业管理" >
    <div class="table-header">
      <span class="operate-text" >删除</span>
    </div>
    <div class="table-wrap" #infoTableWrap>
      <nz-table [nzData]="companyDataList" [nzScroll]="{y:infoTableWrap.clientHeight-90 + 'px'}" [nzBordered]="true" [nzLoading]="companyTableConfig.loading" [nzFrontPagination]="false"
                [nzShowQuickJumper]="true" [nzTotal]="companyTableConfig.total" nzSize="small" [(nzPageSize)]="companyTableConfig.pageSize" [(nzPageIndex)]="companyTableConfig.pageNum"
                (nzPageIndexChange)="getCompanyBasicList()">
        <thead>
          <tr>
            <th nzWidth="150px"><span>操作</span></th>
            <th *ngFor="let head of companyTableConfig.header;" [nzWidth]="head.width">{{head.name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of companyDataList;">
            <td>
              <span class="operate-text" [ngStyle]="{color:item.status === 1?'#ccc':''}" (click)="toggleAuditTab(item,1)">审核</span>
              <span class="operate-text" (click)="toggleAuditTab(item,2)">详情</span>
              <span class="operate-text" (click)="updateLock(item)">
                <ng-container *ngIf="item.lockStatus === 1" >启用</ng-container>
                <ng-container *ngIf="item.lockStatus === 0" >锁定</ng-container>
              </span>
            </td>
            <td *ngFor="let head of companyTableConfig.header;">

              <ng-container [ngSwitch]="head.field">
                <ng-container *ngSwitchCase="'lockStatus'">{{item[head.field] === 1?'锁定':'启用'}}</ng-container>
                <ng-container *ngSwitchCase="'status'">{{ head.fieldPipe(item[head.field]) }}</ng-container>
                <ng-container *ngSwitchDefault>{{item[head.field]}}</ng-container>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-tab>

  <nz-tab nzTitle="审核" *ngIf="tabPageIndex >= 1">
    <div class="audit-page-wrap">
      <div nz-row class="main-row-wrap">
        <div nz-col nzSpan="12" class="company-info-row">
          <div nz-row class="item-row">
            <div nz-col nzSpan="6">公司名称:</div>
            <div nz-col nzSpan="18">{{companyDetail.orgName}}</div>
          </div>
          <div nz-row class="item-row">
            <div nz-col nzSpan="6">企业编号:</div>
            <div nz-col nzSpan="18">{{companyDetail.orgId}}</div>
          </div>
          <div nz-row class="item-row">
            <div nz-col nzSpan="6">手机:</div>
            <div nz-col nzSpan="18">{{companyDetail.orgPhone}}</div>
          </div>
          <div nz-row class="item-row">
            <div nz-col nzSpan="6">电话:</div>
            <div nz-col nzSpan="18">{{companyDetail.orgFixedPhone}}</div>
          </div>

          <div nz-row class="item-row">
            <div nz-col nzSpan="6">地址:</div>
            <div nz-col nzSpan="18">{{companyDetail.orgAddress}}</div>
          </div>
          <div nz-row class="item-row">
            <div nz-col nzSpan="6">等级名称:</div>
            <div nz-col nzSpan="18">{{companyDetail.cpyLevelVO.plaLevelVO.levelName}}</div>
          </div>
          <div nz-row class="item-row">
            <div nz-col nzSpan="6">等级生效时间:</div>
            <div nz-col nzSpan="18">{{companyDetail.cpyLevelVO.effectiveDate}}</div>
          </div>
          <div nz-row class="item-row">
            <div nz-col nzSpan="6">等级失效时间:</div>
            <div nz-col nzSpan="18">{{companyDetail.cpyLevelVO.failureDate}}</div>
          </div>
          <div nz-row class="item-row">
            <div nz-col nzSpan="6">审核状态:</div>
            <div nz-col nzSpan="18">{{companyDetail.status | auditStatus}}</div>
          </div>
          <div nz-row class="item-row">
            <div nz-col nzSpan="6">路线:</div>
            <div nz-col nzSpan="18">
              <nz-table [nzData]="companyDetail.cpyRouteVOS" nzSize="small" [nzShowPagination]="false" [nzBordered]="true"
                        [nzScroll]="{y:'300px'}">
                <thead>
                  <tr>
                    <th nzWidth="50%">始发地</th><th nzWidth="50%">目的地</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let line of companyDetail.cpyRouteVOS">
                    <td>{{line.startCityName}}</td>
                    <td>{{line.endCityName}}</td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </div>
          <div nz-row class="item-row">
            <div nz-col nzSpan="6">备注</div>
            <div nz-col nzSpan="18">
              <textarea nz-input  [readonly]="pageType !== 1" nzSize="default" spellcheck="false" maxlength="50" [ngStyle]="{maxHeight:'50px'}" [(ngModel)]="companyDetail.aduitRemark"></textarea>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="12" class="img-wrap">
          <div nz-row class="item-row" *ngFor="let imgInfo of companyDetail.cpyPhotoVOS">
            <div nz-col nzSpan="6">{{imgInfo.type | photoType}}</div>
            <div nz-col nzSpan="18" class="img-wrap-col">
              <img [src]="photoBaseUrl + imgInfo.photoUrl" />
            </div>
          </div>
        </div>

      </div>
      <div class="fixed-footer-button-wrap" *ngIf="pageType === 1">
        <button nz-button nzType="primary" nzSize="large" (click)="submitAudit(1)">通过</button>
        <button nz-button nzType="primary" nzSize="large" (click)="submitAudit(2)" *ngIf="companyDetail.status !== 2">不通过</button>
        <button nz-button nzType="primary" nzSize="large" nzGhost="true" (click)="toggleMainPage()">取消</button>
      </div>
    </div>
  </nz-tab>
</nz-tabset>
<ng-template #navBreakcrumb>
  <nav-breadcrumb></nav-breadcrumb>
</ng-template>
