<nz-tabset [nzType]="'card'" [(nzSelectedIndex)]="tabIndex" (nzSelectChange)="tabChange()" [nzTabBarExtraContent]="navBreakcrumb">
  <nz-tab nzTitle="角色管理">
    <div class="wrap">
      <div class="table-header">
        <span class="operate-text" (click)="switchTab('addRole')">新增</span>
        <span class="operate-text" (click)="deleteSelected()">删除</span>
      </div>
      <div class="table-wrap" #tableWrap>
        <nz-table nzSize="small" #nzTable [nzData]="rolesList" [nzScroll]="{y:tableWrap.clientHeight-90 + 'px'}"
                  [nzBordered]="true"  [nzShowPagination]="false" [nzFrontPagination]="false">
          <thead>
            <tr>
              <th nzWidth="5%" nzShowCheckbox [(nzChecked)]="allChecked" (nzCheckedChange)="checkAll($event)" ></th>
              <th nzWidth="20%"><span>角色名称</span></th>
              <th nzWidth="45%"><span>角色备注</span></th>
              <th nzWidth="30%"><span>操作</span></th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let role of nzTable.data;trackBy:trackByRole;let roleIndex=index;">
            <td  nzShowCheckbox [(nzChecked)]="role.checked" (nzCheckedChange)="checkSingle($event,role)"></td>
            <td>{{role.name}}</td>
            <td>{{role.remark}}</td>
            <td class="operate-text" [ngClass]="{'options-cell':role.id !== '1'}">
              <span class="operate-text" (click)="switchTab('privilege',role)">设置权限</span>
              <span class="operate-text" (click)="switchTab('editRole',role)">编辑</span>
              <span class="operate-text" (click)="deleteSingle(roleIndex,role)">删除</span>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </nz-tab>

  <nz-tab *ngIf="tabPage === 'addRole' || tabPage==='editRole'" [nzTitle]="tabPage === 'addRole'?'新增':'编辑'">
    <div>
      <form nz-form class="add-form" [formGroup]="addRoleForm" (ngSubmit)="addRoleSubmit()">
        <nz-form-item>
          <nz-form-label nzSpan="4"><span class="font-red">*</span>角色名称</nz-form-label>
          <nz-form-control nzSpan="20" >
            <input nz-input nzSize="default" formControlName="roleName" [(ngModel)]="addRoleData.name" />
            <nz-form-explain  *ngIf="addRoleData.name.length > 20">不超过20个字符</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzSpan="4">角色备注</nz-form-label>
          <nz-form-control nzSpan="20" >
            <input nz-input nzSize="default" formControlName="roleRemark" [(ngModel)]="addRoleData.remark" />
            <nz-form-explain *ngIf="addRoleData.remark && addRoleData.remark.length > 50">不超过50个字符</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <div nz-row class="form-footer form-row">
          <button nz-button nzType="primary" nzSize="large"  type="submit">保存</button>
          <button nz-button nzType="primary" nzSize="large" nzGhost="true" (click)="cancelTabPage()">取消</button>
        </div>
      </form>
    </div>
  </nz-tab>

  <nz-tab *ngIf="tabPage === 'privilege'" nzTitle="设置权限">
    <div class="privilege-wrap">
      <div class="role-name">当前角色：{{privilegeRole.name}}</div>
      <ul class="main-list">
        <li class="top-menu-item" *ngFor="let topMenuItem of authTree;let topMenuIndex=index;">
          <input type="checkbox" [id]="'privilegePrivilege' + topMenuIndex" #menuControl (change)="void;" checked/>
          <div class="menu-main-wrap">
            <div class="top-menu-header">
              <span>
                <label nz-checkbox [(ngModel)]="menuCodeObj[topMenuItem.id]" [nzIndeterminate]="menuIndeterminateObj[topMenuItem.id]" (ngModelChange)="checkAllMenuState($event,[topMenuItem])">
                  {{topMenuItem.name}}
                </label>
              </span>
              <label [for]="'privilegePrivilege' + topMenuIndex">
                <span *ngIf="menuControl.checked">展开<i class="anticon anticon-down"></i></span>
                <span *ngIf="!menuControl.checked">收起<i class="anticon anticon-up"></i></span>
              </label>
            </div>
            <div class="menu-content">
              <div *ngFor="let sideMenuItem of topMenuItem.children;">
                <div class="side-menu-item">
                  <div >
                    <label nz-checkbox [(ngModel)]="menuCodeObj[sideMenuItem.id]" [nzIndeterminate]="menuIndeterminateObj[sideMenuItem.id]" (ngModelChange)="checkAllMenuState($event,[sideMenuItem,topMenuItem])">
                      {{sideMenuItem.name}}
                    </label>
                  </div>
                  <ng-container *ngIf="!sideMenuItem.children || sideMenuItem.children.length === 0;else subGroupItem;">
                    <div class="most-deep" *ngIf="sideMenuItem.auths.length > 0" >
                      <span >操作权限:</span>
                      <span *ngFor="let authItem of sideMenuItem.auths;">
                        <label nz-checkbox [(ngModel)]="authCodeObj[authItem.authId]" (ngModelChange)="checkAllAuthState($event,[sideMenuItem,topMenuItem])">{{authItem.authName}}</label>
                      </span>
                    </div>
                  </ng-container>
                  <ng-template #subGroupItem>
                    <div *ngFor="let subItem of sideMenuItem.children;" class="side-menu-item">
                      <div>
                        <label nz-checkbox [(ngModel)]="menuCodeObj[subItem.id]" [nzIndeterminate]="menuIndeterminateObj[subItem.id]" (ngModelChange)="checkAllMenuState($event,[subItem,sideMenuItem,topMenuItem])">
                          {{subItem.name}}
                        </label>
                      </div>
                      <div class="most-deep" *ngIf="subItem.auths.length > 0" >
                        <span >操作权限:</span>
                        <span *ngFor="let subAuthItem of subItem.auths;">
                          <label nz-checkbox [(ngModel)]="authCodeObj[subAuthItem.authId]" (ngModelChange)="checkAllAuthState($event,[subItem,sideMenuItem,topMenuItem])">{{subAuthItem.authName}}</label>
                        </span>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </li>
        <div class="fixed-footer-button-wrap">
          <button nz-button nzType="primary" nzSize="large" (click)="setAuthSubmit()">保存</button>
          <button nz-button nzType="primary" nzSize="large" nzGhost="true" (click)="cancelTabPage()">取消</button>
        </div>
      </ul>
    </div>
  </nz-tab>
</nz-tabset>
<ng-template #navBreakcrumb>
  <nav-breadcrumb></nav-breadcrumb>
</ng-template>
