<div class="main-form-and-list-wrap sale-details">
  <div class="head-info">
      <span class="mr25 title">
        {{currentProduct.productName}}
      </span>
    <span class="mr25 title">
        {{currentProduct.productBrand}}
      </span>
    <span class="mr25 title">
        {{currentProduct.specification}}
      </span>
    <span class="mr25">
          {{currentProduct.unitConversionRelationship}}
      </span>
    <span class="mr25">
          销售次数:&nbsp;{{currentProduct.saleOutTimes || 0 }}次
    </span>
    <span class="mr25">
          销退次数:&nbsp;{{currentProduct.saleReturnTimes || 0}}次
    </span>
  </div>
  <form nz-form [formGroup]="validateForm" class="search-form">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="dealerName">交易人姓名</nz-form-label>
          <nz-form-control>
            <input formControlName="dealerName" nz-input placeholder="姓名/手机号/身份证号" id="dealerName">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="10">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="rangePicker">交易时间</nz-form-label>
          <nz-form-control>
            <nz-range-picker formControlName="rangePicker" nzFormat="yyyy/MM/dd"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <div class="search-btn-group">
          <button nz-button type="button" nzType="default" class="mr10" type="button" (click)="resetForm()">清空</button>
          <button nz-button type="button" nzType="primary" type="button" (click)="submitForm()">搜索</button>
        </div>
      </div>
    </div>
  </form>
  <div class="content-container">
    <div class="unit-btn-list">
      <nz-button-group>
        <button nz-button nzType="default" [ngClass]="{'selected-btn':currentUnitType === 0}"
                (click)="setUnitShowType(0)">显示小单位
        </button>
        <button nz-button nzType="default" [ngClass]="{'selected-btn':currentUnitType === 1}"
                (click)="setUnitShowType(1)">显示大单位
        </button>
        <button nz-button nzType="default" [ngClass]="{'selected-btn':currentUnitType === 2}"
                (click)="setUnitShowType(2)">显示辅助单位
        </button>
      </nz-button-group>
    </div>
    <nz-table #tableData nzBordered nzSize="middle" [nzData]="tableDataSet" nzShowSizeChanger
              [nzFrontPagination]="false"
              [nzLoading]="loading"
              [nzTotal]="total"
              [(nzPageIndex)]="pageIndex"
              [(nzPageSize)]="pageSize"
              (nzPageIndexChange)="searchData()"
              (nzPageSizeChange)="searchData(true)">
      <thead>
      <tr>
        <th style="width: 13%">交易时间</th>
        <th style="width: 13%">交易类型</th>
        <th style="width: 13%">交易数量</th>
        <th style="width: 13%">客户名称</th>
        <th style="width: 13%">手机号</th>
        <th style="width: 13%">身份证号</th>
        <th style="width: 22%">地址</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of tableData.data">
        <td>{{data.createDate}}</td>
        <td>{{data.billType}}</td>
        <td>{{data.quantityResult}}</td>
        <td>{{data.companyName}}</td>
        <td>{{data.contactTel}}</td>
        <td>{{data.idCard}}</td>
        <td>{{data.companyAreaName + data.address}}</td>
      </tr>
      </tbody>
    </nz-table>
    <div class="go-back">
      <button nz-button nzType="primary"
              (click)="goBack()">返回</button>
    </div>
  </div>
</div>
